<link rel="stylesheet" href="css/footer.css">
<footer>
    <div class="pozfon6"></div>
    <div class="pozfon7"></div>
    <div class="wrapper">
        <div class="second">
            <nav>
                <p>Проект</p>
                <li><a href="">Новости</a></li>
                <li><a href="">Админ-лист</a></li>
                <li><a href="">Бан-лист</a></li>
                <li><a href="">О проекте</a></li>
            </nav>
            <nav>
                <p class="help">Помощь</p>
                <li><a href="">Руководство</a></li>
                <li><a href="">Энциклопедия</a></li>
                <li><a href="">Правила</a></li>
            </nav>
            <nav>
                <p>Сообщество</p>
                <li><a href="">Форум</a></li>
                <li><a href="">Вконтакте</a></li>
                <li><a href="">Discord</a></li>
            </nav>

        </div>
        <hr>
        <div class="third">
            <span>© 2021 ConcordiaCraft. Все права упразднены</span>
            <div class="img">
                <img src="/img/Ellipse.png" alt="">

                <img class="two" src="/img/Ellipse.png" alt="">

            </div>

        </div>
    </div>
</footer>