<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
<footer class="page-footer">
    <div class="page-footer">
        <div class="pozfon6"></div>
        <div class="pozfon7"></div>
    <div class="page-footer__wrapper">
        <div class="page-footer__row">
            <div class="page-footer__column">
            <nav class="nav-page-footer">
                <p class="nav-page-footer__title">Проект</p>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Новости</a></li>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Админ-лист</a></li>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Бан-лист</a></li>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">О проекте</a></li>
            </nav>
            </div>
            <div class="page-footer__column">
            <nav class="nav-page-footer">
                <p class="nav-page-footer__title">Помощь</p>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Руководство</a></li>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Энциклопедия</a></li>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Правила</a></li>
            </nav>
                </div>
                <div class="page-footer__column">
            <nav class="nav-page-footer">
                <p class="nav-page-footer__title">Сообщество</p>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Вконтакте</a></li>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Discord</a></li>
            </nav>
                </div>
        </div>
        <hr class="page-footer__hr">
        <div class="page-footer__low-panel">
            <div class="low-panel-footer">
            <span class="low-panel-footer__title">© 2021 ConcordiaCraft. Все права упразднены</span>
            <div class="low-panel-footer__img">
                <img class="low-panel-footer__img low-panel-footer__img-theme-vk"src="/img/Vk.png" alt="" width="22px" height="18px">

                <img class="low-panel-footer__img low-panel-footer__img-theme-discord" src="/img/Discord.png" alt="" width="22px" height="22px">

            </div>

        </div>
    </div>
    </div>
</footer>