<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
<footer class="page-footer">
    <div class="page-footer">
        <div class="pozfon6 ground"></div>
        <div class="pozfon7 ground"></div>
    <div class="page-footer__wrapper">
        <div class="page-footer__row">
            <div class="page-footer__column">
            <nav class="nav-page-footer">
                <p class="nav-page-footer__title">Проект</p>
                <ul  class="nav-page-footer__block">
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Новости</a></li>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">О проекте</a></li>
                </ul>
            </nav>
            </div>
            <div class="page-footer__column">
            <nav class="nav-page-footer">
                <p class="nav-page-footer__title">Помощь</p>
                <ul class="nav-page-footer__block">
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Руководство</a></li>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="{{ path('help') }}">Энциклопедия</a></li>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="">Правила</a></li>
                </ul>
            </nav>
                </div>
                <div class="page-footer__column">
            <nav class="nav-page-footer">
                <p class="nav-page-footer__title">Сообщество</p>
                <ul class="nav-page-footer__block">
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="https://vk.com/concordiacraft">Вконтакте</a></li>
                <li class="nav-page-footer__item">
                    <a class="nav-page-footer__link" href="https://discord.gg/3qEtBJsq">Discord</a></li>
                </ul>
            </nav>
                </div>
        </div>
        <hr class="page-footer__hr">
        <div class="page-footer__low-panel">
            <div class="low-panel-footer">
            <span class="low-panel-footer__title">© 2021 ConcordiaCraft. Все права упразднены</span>
            <div class="low-panel-footer__img">
                <img class="low-panel-footer__img low-panel-footer__img-theme-vk" src="{{asset('img/Vk.svg')}}" alt="" width="22px" height="22px">

                <img class="low-panel-footer__img low-panel-footer__img-theme-discord" src="{{asset('img/Discord.svg')}}" alt="" width="22px" height="22px">

            </div>

        </div>
    </div>
    </div>
</footer>