<link rel="stylesheet" href="css/header.css">
<header>
    <div class="wrapper">
        <nav>
            <ul class="nav">
                <li><a href="{{ path('news') }}">НОВОСТИ</a></li>
                <li><a href="">КАРТА</a></li>
                <li><a href="">МАГАЗИН</a></li>
                <li>
                    <select>
                        <option>ПОМОЩЬ</option>
                    </select>
                </li>
            </ul>
        </nav>
    </div>
</header>