* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
    }

header{

    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.nav{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;  
    font-weight: 800;
    align-items:center;
}

.nav>li {
    margin-left: 20px;
    margin-right: 14px;
    margin-top: 28px;
    
}

.nav>li>a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 15px;
}

.nav>li>select{
    background: none;
    text-decoration: none;
    color:#FFFFFF;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: -2px;
    font-size: 15px;
    
  
}

