* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
    }

.page-header{

    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.header__wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-left:10px;
    padding-right: 10px;
}

.header-panel{
    display: flex;
    justify-content: space-between;
}

.navigation{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;  
    font-weight: 800;
    align-items:center;
    width: 50%;
}

.navigation__item {
    margin-left: 20px;
    margin-right: 14px;
    margin-top: 28px;
}

.navigation__link{
    text-decoration: none;
    color:#FFFFFF;
    font-size:  calc(7px + 7 * (100vw / 1200))
}

.navigation__link:hover{
    text-decoration: none;
    color:lightgrey;
    font-size:  calc(7px + 7 * (100vw / 1200))
}

.navigation__link_color_grey{
    color: grey;
}

.navigation__link_color_grey:hover{
    color: grey;
}


.profile-button{
    width: 12.5%;
    margin-top: 30px;
}

.profile-button__button{
    color:#95408C;
    background-color: #FDAEE0;
    padding: 5% 0%;
    font-weight: 800;
    font-size:  calc(7px + 6 * (100vw / 1200));
    border: #FDC6E9 solid 1.5px;
    width: 100%;
}

.profile-button__button:hover{
    background-color: #fabee4;
    cursor: pointer;
}

.profile-button__shade{
    background-color: #CE7DBB;
    padding: 2px  0%;
    width: 100%;
}

.header-img{
    width: 12.5%;
    margin-top: 40px;
}

.header-img__Discord{
    margin-left: 10%;
    border: white 1.5px solid;
    padding: 7px 5px;
}

.header-img__Discord:hover{
    border: black 1.5px solid;
    background-color: black;
}

.header-img__Vk{
    border: white 1.5px solid;
    padding: 7px 5px;
}

.header-img__Vk:hover{
    border: black 1.5px solid;
    background-color: black;
}

.header-logo{
    width: 12.5%;
    margin-top: 20px;
    cursor: pointer;
}

.hidden-logo{
    display: none;
}


.dropdown__title {
    color: white;
    font-size:  calc(7px + 7 * (100vw / 1200));
    cursor: pointer;
    margin-bottom: 2px;
}

.dropdown__title:hover {
    color: lightgrey;
    font-size:  calc(7px + 7 * (100vw / 1200));
    cursor: pointer;
    margin-bottom: 2px;
}

/* Контейнер <div> - необходимо разместить выпадающий контент */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Выпадающий контент (скрыт по умолчанию) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    font-size:  calc(6px + 7 * (100vw / 1200));
}

/* Ссылки внутри выпадающего */
.dropdown-content__link {
    color: white;
    padding: 10px 5px;
    text-decoration: none;
    display: block;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content__link:hover {
    color: grey;
}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown_span{
    color: white;
    display: inline-block;
    font-weight: 800;
    font-size: 20px;
    padding: 0px 0px;
    transform: rotate(-110rad);

}

@media screen and (max-width: 1200px) {
    .header__wrapper{
        max-width: 990px;
    }
}

@media screen and (max-width: 992px) {
    .wrapper{
        max-width: 900px ;
    }

    @media screen and (min-width: 930px) {

    }
}



