* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile {
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    background-color: #100C15;
}