* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }

body{
background-image: url(../img/bg.png);
font-family: 'Montserrat', sans-serif;
color:#FFFFFF;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
    position: relative;

}

.first-section__wrapper {
    width: 100%;
}

.wrapper{
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100% ;
}

.first-section__panel {
    display: flex;
    justify-content: space-between;
    align-items:flex-end ;
    width: 100%;
}

.left-panel{
    width: 21%;
}

.left-panel__title {
    margin-bottom: 10px;
}

.person {
    display: inline-block;
    font-size: 9px;
    text-align: center;
    margin-bottom: 6px;
    margin: 0 3.7%;
}

.person-title {
    margin-top: 6px;
}

.left-panel-button__button {
    margin-top: 10px;
}
.button_size_s{
    color:#95408C;
    background-color: #FDAEE0;
    padding: 4% 0%;
    font-weight: 800;
    font-size: 16px;
    border: #FDC6E9 solid 1.5px;
    width: 100%;

}
.left-panel-button__shade {

}
.shade_size_s{
    background-color: #CE7DBB;
    padding: 2px  0px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 180px;

}

.central-panel{
    margin-left: 0;
    width: 30%;
}


.central-panel__logo-first {
    display: block;
    margin-top: 90px;
    padding: 0% 14%;

}

.central-panel__img-first{
max-width: 100%;
}

.central-panel__logo-second {
    align-self: center;
    margin-left: 18px;
}

.central-panel__img-second{
max-width: 100%;
}

.central-panel-button__button {
    margin-top: 120px;
    width: 100%;
}
.button_size_b {
    color:#95408C;
    background-color: #FDAEE0;
    font-weight: 800;
    padding: 4% 0px;
    font-size: 24px;
    border: #FDC6E9 solid 1.5px;
    width: 100%;
}

.central-panel-button__shade {
    padding: 3px  0px;
    width: 100%;
}

.shade{
    background-color: #CE7DBB;
    font-weight: 800;
}

.right-panel{
    width: 21%;

}

.right-panel__title{
    text-align: right;
    margin-bottom: 10px;

}

.right-panel__players {
    text-align: center;
    color:#95408C;
    background-color: #FDAEE0;
    padding: 4.5% 0px;
    width: 100%;
    font-weight: 800;
    border: #FDC6E9 solid 1.5px;

}


.second-section__title {
    margin-top: 180px;
}

.title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.second_section__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 48px ;
    grid-row-gap: 128px;
    margin-top: 69px;

}

.main-section-img{
    background-image: url(../img/bg-img.png);
    height: 370px;
    padding: 0px 80px;
}

.main-section-content {
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.main-section-content_side_right {
    text-align: right;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.main-section-content__title {
    margin-bottom: 20px;
}


.second-section-button{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.second-section-button__button {
    margin-top: 128px;
}

.second-section-button__shade{
    padding: 2.5px  0px;
    width: 100%;
}


.third-section__wrapper {
    max-width: 900px;
    max-height: 100%;
    background-color: #100C15;
    padding:1px 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
    
}

.third-section-block{
    font-size: 24px;
    color: lightgrey;
    padding: 50px 0px;

}

.third-section-block__title{
    color: white;
    font-size: 36px;
    text-align: center;
}
.third-section-block__text{
    padding: 2px;
}

.third-section-block__link {
    color: white;
    text-decoration: none;

}
.fourth-section__title {
    margin-top: 330px;
    margin-bottom: 100px;
}
.fourth-section-column {
    display: flex;
    justify-content: space-between;
}

.fourth-section-block{
    margin-bottom: 24px;
    width: 28%;
}
.fourth-section-block__img-size-b {
    margin-top: 25px;
    background-color: lightgrey;
    height: 202px;
}


.fourth-section-block__img-size-s {
    margin-top:35px;
    background-color: lightgrey;
    height: 180px;

}


.fourth-section-block__title {
    margin-top: 16px;
    text-align: center;
}

.fourth-section-block__data {
    margin-top: 16px;
    text-align: center;
}

.fourth-section-button{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fourth-section-button__button{
    margin-top: 128px;
    width: 100%;
}
.fourth-section-button__shade{
    padding: 3px 0px;
    width: 100%;


}


.position-background-a {
    background-image: url(../img/pozfon1.svg);
    top: 15.6%;
    position: absolute;
    width: 1600px;
    min-height: 130px;
    left: 0; right: 0;
    margin: 0px auto 0;
    z-index: -100;
}
.position-background-b {
    background-color: #100C15;
    top: 18.2%;
    position: absolute;
    width: 1600px;
    height: 1751px;
    left: 0; right: 0;
    margin: 0px auto 0;
    z-index: -100;
}
.position-background-c {
    background-image: url(../img/pozfon2.svg);
    top: 54.1%;
    position: absolute;
    width: 1600px;
    min-height: 129px;
    left: 0; right: 0;
    margin: 0px auto 0;
    z-index: -100;
}
.position-background-d {
    background-image: url(../img/pozfon1.svg);
    top: 71.2%;
    position: absolute;
    width: 1600px;
    min-height: 129px;
    left: 0; right: 0;
    margin: 0px auto 0;
    z-index: -100;
}

.position-background-e {
    background-color: #100C15;
    top: 73.8%;
    position: absolute;
    width: 1600px;
    height: 741px;
    left: 0; right: 0;
    margin: 0px auto 0;
    z-index: -100;
}












