* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }

body{
background-image: url(../img/bg.png);
font-family: 'Montserrat', sans-serif;
color:#FFFFFF;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
    position: relative;

}

.first-section__wrapper {
    width: 100%;
}

.wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    width: 100% ;
    padding-right: 10px;
    padding-left: 10px;
}

.first-section__panel {
    display: flex;
    justify-content: space-between;
    align-items:flex-end ;
    width: 100%;
}

.left-panel{
    width: 21%;
}

.left-panel__title {
    margin-bottom: 10px;
    font-size: calc(9px + 10 * (100vw / 1800));
}

.person {
    display: inline-block;
    font-size: 9px;
    text-align: center;
    margin-bottom: 6px;
    margin: 0 3.7%;
    width: 24%;
}

.person-title {
    margin-top: 6px;
}

.left-panel-button__button {
    margin-top: 10px;
}
.button_size_s{
    color:#95408C;
    background-color: #FDAEE0;
    padding: 4% 0%;
    font-weight: 800;
    font-size: calc(6px + 10 * (100vw / 1800));
    border: #FDC6E9 solid 1.5px;
    width: 100%;
}

.button_size_s:hover{
    background-color: #ffb8e5;
    cursor: pointer;
}

.left-panel-button__shade {

}
.shade_size_s{
    background-color: #CE7DBB;
    padding: 2px  0px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 180px;

}

.central-panel{
    margin-left: 0;
    width: 30%;
}


.central-panel__logo-first {
    display: block;
    margin-top: 90px;
    padding: 0% 14%;

}

.central-panel__img-first{
max-width: 100%;
}

.central-panel__logo-second {
    align-self: center;
    margin-left: 18px;
}

.central-panel__img-second{
max-width: 100%;
}

.central-panel-button__button {
    margin-top: 120px;
    width: 100%;
}
.button_size_b {
    color:#95408C;
    background-color: #FDAEE0;
    font-weight: 800;
    padding: 4% 0px;
    font-size: calc(12px + 8 * (100vw / 1200));
    border: #FDC6E9 solid 1.5px;
    width: 100%;
}

.button_size_b:hover{
    background-color: #fabee4;
    cursor: pointer;
}

.central-panel-button__shade {
    padding: 3px  0px;
    width: 100%;
}

.shade{
    background-color: #CE7DBB;
    font-weight: 800;
}

.right-panel{
    width: 21%;

}

.right-panel__title{
    text-align: right;
    margin-bottom: 10px;
    font-size: calc(9px + 10 * (100vw / 1800));

}

.right-panel__players {
    text-align: center;
    color:#95408C;
    background-color: #FDAEE0;
    padding: 4.5% 0px;
    width: 100%;
    font-weight: 800;
    border: #FDC6E9 solid 1.5px;
    font-size: calc(6px + 10 * (100vw / 1800));

}


.second-section__title {
    margin-top: 180px;
}

.title{
    text-align: center;
    font-size: calc(22px + 10 * (100vw / 1800));
    font-weight: 700;
}

.second_section__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 48px ;
    grid-row-gap: 90px;
    margin-top: 69px;

}

.main-section-img{
    width: 100%;

}

.main-section-img__img{

}

.main-section-content {
    font-size:  calc(14px + 8 * (100vw / 1800));;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.main-section-content_side_right {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

.main-section-content__title {
    margin-bottom: 20px;
    font-size: 26px;
}


.second-section-button{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.second-section-button__button {
    margin-top: 128px;
}

.second-section-button__shade{
    padding: 2.5px  0px;
    width: 100%;
}


.third-section__wrapper {
    max-width: 900px;
    max-height: 100%;
    background-color: #100C15;
    padding:1px 64px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
    
}

.third-section-block{
    font-size: 24px;
    color: lightgrey;
    padding: 50px 0px;

}

.third-section-block__title{
    color: white;
    font-size: 36px;
    text-align: center;
}
.third-section-block__text{
    padding: 2px;
}

.third-section-block__link {
    color: white;
    text-decoration: none;

}
.fourth-section__title {
    margin-top: 330px;
    margin-bottom: 100px;
}
.fourth-section-column {
    display: flex;
    justify-content: space-between;
}

.fourth-section-block{
    margin-bottom: 24px;
    width: 28%;
}
.fourth-section-block__img-size-b {
    margin-top: 25px;
    background-color: lightgrey;
    height: 20%;
}


.fourth-section-block__img-size-s {
    margin-top:35px;
    background-color: lightgrey;
    height: 18%;

}


.fourth-section-block__title {
    margin-top: 16px;
    text-align: center;
}

.fourth-section-block__data {
    margin-top: 16px;
    text-align: center;
}

.fourth-section-button{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fourth-section-button__button{
    margin-top: 128px;
    width: 100%;
}
.fourth-section-button__shade{
    padding: 3px 0px;
    width: 100%;
}


.position-background-a {
    background-image: url(../img/pozfon1.svg);
    top: 15.6%;
    position: absolute;
    max-width: 1600px;
    min-height: 135px;
    left: 0; right: 0;
    margin: 0px auto 0;
    z-index: -100;
    width: 100%;
}
.position-background-b {
    background-color: #100C15;
    top: 18.2%;
    position: absolute;
    max-width: 1600px;
    height: 37.92%;
    left: 0; right: 0;
    margin: 0px auto 0;
    z-index: -100;
    width: 100%;
}
.position-background-c {
    background-image: url(../img/pozfon2.svg);
    top: 56.1%;
    position: absolute;
    max-width: 1600px;
    min-height: 127px;
    left: 0; right: 0;
    margin: 0px auto 0;
    z-index: -100;
    width: 100%;
}
.position-background-d {
    background-image: url(../img/pozfon1.svg);
    top: 71.2%;
    position: absolute;
    max-width: 1600px;
    min-height: 135px;
    left: 0; right: 0;
    margin: 0px auto 0;
    z-index: -100;
    width: 100%;
}

.position-background-e {
    background-color: #100C15;
    top: 73.8%;
    position: absolute;
    max-width: 1600px;
    height: 19%;
    left: 0; right: 0;
    margin: 0px auto 0;
    z-index: -100;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .wrapper{
        max-width: 990px ;
    }

    .ground{
        width: 1200px;
    }
    .third-section__wrapper{
        max-width: 760px;
    }

    .position-background-b {
        height: 1500px;
    }

    .position-background-c {
        top: 53.4%;
    }

}

@media screen and (max-width: 992px) {
    .wrapper {
        max-width: 900px;
    }

    .ground {
        width: 992px;
    }

    .position-background-b {
        height: 1350px;
    }

    .position-background-c {
        top: 50.9%;
    }
}

@media screen and (max-width: 768px){
    .wrapper{
        max-width: 718px;
    }

    .ground{
        max-width: 768px;
    }

    .position-background-b {
        height: 1250px;
    }

    .position-background-c {
        top: 49.75%;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        max-width: 460px;
    }

    .ground {
        max-width: 480px;
    }

    .second_section__main {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        margin-top: 30px;
    }
    .main-section-img{
        width: 80%;
        margin-left: auto;
        margin-right: auto;

    }

    .main-section-img__img{
        height: 100%;
    }

    .main-section-content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .main-section-content__title {
        margin-bottom: 8px;
        font-size: 20px;
    }

    .second-box-c{
        grid-row: 4;
    }
    .second-box-d{
        grid-row: 3;
    }
    .central-panel-button__button {
        margin-top: 95px;
    }

    .second-section__title{
        margin-top: 130px;
    }

    .person {
        display: inline-block;
        font-size: 5px;
        text-align: center;
        margin: 0 0%;
        width: 30%;
    }

    .person-title {
        margin-top: 3px;
    }

    .central-panel__logo-first {
        display: block;
        margin-top: 90px;
        padding: 0px 0px;

    }

    .central-panel__logo-second {
        align-self: center;
        margin-left: 10px;
    }

    .position-background-a {
        top: 12.6%;
    }
    .position-background-b {
        top: 15.2%;
        height: 33%;

    }
    .position-background-c {
        background-image: url(../img/pozfon2.svg);
        top: 48.18%;
    }

    .second-section-button__button {
        margin-top: 70px;
    }

    .third-section__wrapper {
        max-width: 400px;
        padding:1px 10px;
        margin-top: 240px;

    }

     .fourth-section-column{
         display: block;
         margin-left: auto;
         margin-right: auto;
         width: 70%;
     }

    .fourth-section-block{
        margin-bottom: 24px;
        width: 100%;
    }

    .fourth-section-block__img-size-b {
        margin-top: 25px;
        background-color: lightgrey;
        height: 100%;
        z-index:  100000;
    }


    .fourth-section-block__img-size-s {
        margin-top:35px;
        background-color: lightgrey;
        height: 100%;
        z-index: 10000;

    }

}

@media screen and (max-width: 375px) {
    .wrapper {
        max-width: 375px;
    }

    .ground {
        max-width: 375px;
    }

    .right-panel{
        width: 25%;
    }

    .left-panel{
        width: 25%;
    }

    .central-panel{
        width: 40%;
    }

    .position-background-b {
        top: 15.2%;
        height: 31.2%;

    }
    .position-background-c {
        background-image: url(../img/pozfon2.svg);
        top: 46.38%;
    }
}

@media screen and (max-width: 360px) {
    .wrapper{
        max-width: 360px ;
    }
    .ground{
        max-width: 360px;
    }

}



























