* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #100C15;
    }

body {
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.wrapper {
    max-width: 1230px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    height: 100%x;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-column-gap: 128px ;
    grid-row-gap: 64px;

}


.grey {
    background-color: lightgrey;
    height: 302px;
}

.title-news>h2{
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 32px;
}

.title-news>p{
    color:lightgrey;
    font-size: 24px;
    font-weight: 400;
    margin-top: 32px;
}

.page-number{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.page-number .back>button{
    background-color: #FDAEE0;
    padding: 30px 30px;
    background: url(../img/content.svg) no-repeat center;
    transform: rotate(180deg)
}

.page-number .next>button{
    background-color: #FDAEE0;
    background: url(../img/content.svg) no-repeat center;
    padding: 30px 30px;
    
}
