* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.page-news {
    font-family: 'Montserrat', sans-serif;
    color:#FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    background-color: #100C15;
}

.page-news__wrapper {
    max-width: 1230px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.page-news__main {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-column-gap: 128px ;
    grid-row-gap: 64px;
    margin-top: 85px;

}


.item-news__img {
    background-color: lightgrey;
    max-height: 302px;
    width: 100%;
}

.item-news__title{
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 32px;
}

.item-news__text{
    color:lightgrey;
    font-size: 24px;
    font-weight: 400;
    margin-top: 32px;
}

.item-news__date{
    color:lightgrey;
    font-size: 24px;
    font-weight: 400;
    margin-top: 32px;
}

.page-news-switch{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.page-news-switch__back-button{
    display: inline-block;
    padding: 30px 30px;
    background: url(../img/content.svg) no-repeat center;
    background-color: #FDAEE0;
    transform: rotate(180deg)
}

.page-news-switch__next-button{
    display: inline-block;
    background: url(../img/content.svg) no-repeat center;
    background-color: #FDAEE0;
    padding: 30px 30px;
    
}
.page-news-switch__page{
margin-top: 20px;
}


@media screen and (max-width: 480px){
    .page-news__main {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 60px ;
        margin-top: 65px;
    }

    .page-news__wrapper{
        max-width: 460px;
    }

    .item-news__img {
        background-color: lightgrey;
        width: 70%;
    }
}

@media screen and (max-width: 375px){
    .page-news__wrapper{
        max-width: 375px;
    }
}

@media screen and (max-width: 360px){
    .page-news__wrapper{
        max-width: 375px;
    }
}