<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
</head>
<body class="about">
{{ include('main/header.html.twig') }}
<main class="about">
    <div class="about__wrapper wrapper">
        <div class="about-description">
            <h2 class="about-description__title title-about">О ПРОЕКТЕ</h2>
            <p class="about-description__text"> Сервер ConcordiaCraft представляет собой игровой проект,<br>
                целью которого является организовать активное взаимодействие между пользователями.<br>
                Достигается это с помощью уникального пакета плагинов сервера,<br>
                который реализует систему защиты территорий.<br>
                С помощью него вам становятся доступны следующие действия:<br>
                </p>
            </p>
        </div>
        <div class="about-features"></div>
        <h2 class="about-features__title title-about">ОСОБЕННОСТИ ПРОЕКТА</h2>
        <ul class="about-features__select">
            <li class="about-features__item">- Создание города посредством уникального предмета (флага);</li>
            <li class="about-features__item">- Возможность расширения владений за счёт золота;</li>
            <li class="about-features__item">- Возможность перераспределения территорий и их продажи.</li>

        </ul>
    </div>
</main>
{{ include('main/footer.html.twig') }}
</body>
</html>