<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concordia Craft</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
{{ include('main/header.html.twig') }}
    <main>
        <section class="first-section">
            <div class="first-section__wrapper wrapper">
            <div class=first-section__panel>
             <div class="left-panel">
               <h2 class="left-panel__title">ЛИДЕРЫ <br>ГОЛОСУЮЩИХ</h2>
               <div class="left-panel__person">
                   <div class="first-person person">
                      <img src="img/PlayerAvatarTheorenter.png" width="100%" alt="">
                      <p class="person-title">Theorenter<p>
                      </div>
                   <div class="second-person person">
                      <img src="img/PlayerAvatarNiceKita.png" alt="" width="100%">
                      <p class="person-title">NiceKita</p>
                   </div>
                   <div class="third-person person">
                      <img src="img/PlayerAvatarControlFace.png"  width="100%" alt="">
                      <p class="person-title">ControlFace</p>
                   </div>
               </div>
               <div class="left-panel-button">
                  <button class="left-panel-button__button button_size_s">ПРОГОЛОСОВАТЬ</button>
                  <div class="left-panel-button__shade shade_size_s"></div>
               </div>

             </div>
             <div class="central-panel">
                 <div class="central-panel__logo-first">
                  <img class="central-panel__img-first" src="img/logo 1.png" width="100%" alt="">
                  <br>
                  <div class="central-panel__logo-second">
                  <img  class="central-panel__img-second" src="img/logo-tet.png" width="92%" alt="">
                  </div>
                 </div>
                 <div class="central-panel_button">
                     <button class="central-panel-button__button button_size_b">НАЧАТЬ ИГРУ</button>
                     <div class="central-panel-button__shade shade"></div>
                 </div>

            </div>
            <div class="right-panel">
                <h2 class="right-panel__title">ИГРОКОВ НА<br> СЕРВЕРЕ</h2>
                 <div class="right-panel__players">CЕЙЧАС {{ playercount }} </div>
                 <div class="right-panel__shade shade_size_s"></div>

            </div>
            </div>
        </div>
            <div class="position-background-a ground"></div>
        </section>
        <section class="second-section">
            <div class="second-section__title title"><span>О ПРОЕКТЕ</span></div>
            <div class="second-section__wrapper wrapper">
              <div class="second_section__main">
                <div class="main-section-img">
                    <img class="main-section-img__img" src="img/bg-img.png" width="100%">
                </div>
                <div class="main-section-content">
                    <h3 class="main-section-content__title">КООПЕРИРУЙТЕСЬ И КОНКУРИРУЙТЕ</h3>
                    <p>Объдиняйтесь с другими игроками,<br>
                        управляйте своей кооперацией,<br>
                        распределяйте земли, устанавливайте налоги,<br>
                        заключайте союзы и ведите войны.</p>
                </div>
                <div class="main-section-content main-section-content_side_right">
                    <h3 class="main-section-content__title">УЧАСТВУЙТЕ В ЭКОНОМИЧЕСКОЙ ЖИЗНИ</h3>
                    <p>Экономика сервера является следствием<br>
                    деятельносьти игроков: все товары на<br>
                        глобальном рынке - то, что было сбыто<br>
                            игроками. Золото - единая валюта сервера,<br>
                                которую вы можете заработать сбывая товары<br>
                                    на рынках.</p>
                </div>
                <div class="main-section-img">
                    <img class="main-section-img__img" src="img/bg-img.png" width="100%">
                </div>
                <div class="main-section-img">
                    <img class="main-section-img__img" src="img/bg-img.png" width="100%">
                </div>
                <div class="main-section-content">
                    <h3 class="main-section-content__title">ИССЛЕДУЙТЕ НОВЫЙ КОНТЕНТ</h3>
                    <p>Исследуйте новые технологии, которые<br>
                    позволят вам создавать новые сплавы,<br>
                        оружие, броню; социальные исследования<br>
                            предоставят вам новые типы правления для<br>
                                вашей державы!</p>
                </div>
              </div>
                <div class="second-section-button">
                    <button class="second-section-button__button button_size_b">ПОДРОБНЕЕ</button>
                    <div class="second-section-button__shade shade"></div>
            </div>
            </div>
            <div class="position-background-b ground"></div>
            <div class="position-background-c ground"></div>
        </section>
        <section class="third-section">
            <div class="third-section__wrapper">
                <div class="third-section-block">
                <div class="third-section-block__title"><span>КАК НАЧАТЬ ИГРАТЬ</span></div><br>
                <p class="third-section-block__text">1. Запустите Minecraft JAVA EDITION версии 1.16.5</p><br>
                <p class="third-section-block__text">2. Перейдите во вкладку сетевой игры.</p><br>
                <p class="third-section-block__text">3. Подключитесь по IP адресу <a class="third-section-block__link" href=""> Play.ConcordiaCrtaft.org </a></p><br>
                <p class="third-section-block__text">4. Посетите наше discord сообщество  <a class="third-section-block__link" href="discord.qq/D7Jdwxx7">discord.qq/D7Jdwxx7</a></p>
                </div>
            </div>
        </section>
        <section class="fourth-section">
            <div class="fourth-section__title title"><span>НОВОСТИ</span></div>
            <div class="fourth-section__wrapper wrapper">
            <div class="fourth-section-column">
                <div class="fourth-section-block">
                    <div class="fourth-section-block__img-size-s"></div>
                   <h2 class="fourth-section-block__title">МЫ ДОБАВИЛИ ЧЁ-ТО НОВОЕ </h2>
                    <p class="fourth-section-block__data">14.03.2021</p>
                </div>
                <div class="fourth-section-block">
                    <div class="fourth-section-block__img-size-b"></div>
                    <h2 class="fourth-section-block__title">ПРЕДРЕЛИЗ ПРОЕКТА 0.4.3</h2>
                    <p class="fourth-section-block__data">20.03.2021</p>
                </div>
                <div class="fourth-section-block">
                    <div class="fourth-section-block__img-size-s"></div>
                    <h2 class="fourth-section-block__title">И ТУТ МЫ ЧЁ-ТО ДОБАВИЛИ </h2>
                    <p class="fourth-section-block__data">10.03.2021</p>
                    </div>
                </div>
            <div  class="fourth-section-button">
                <button class="fourth-section-button__button button_size_b">ВСЕ НОВОСТИ</button>
                <div class="fourth-section-button__shade shade"></div>
                </div>
            </div>
            <div class="position-background-d ground "></div>
            <div class="position-background-e ground"></div>
        </section>
    </main>
{{ include('main/footer.html.twig') }}
</body>
</html>