<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style-news.css') }}">
</head>
<body class="page-news">
{{ include('main/header.html.twig') }}
     <div class ="page-news">
    <div class="page-news__wrapper">
        <div class="page-news__main">
            {% for news in newsarray %}
            {{ include('newsblock.html.twig') }}
            {% endfor %}
            <div class="page-news__grid-column">
                       <div class="item-news">
                           <div class="item-news__img"></div>
                           <h2 class="item-news__title">ПРЕДРЕЛИЗ ПРОЕКТА 0.4.3</h2>
                             <p class="item-news__text">Мы реализовали x,y,z Тут нужно добавить ещё какого-нибудь текста, чтоб он автоматически обрезался после трёхю</p>
                             <p class="item-news__date">20.03.2021</p>
                       </div>
                </div>

                              
                    
        </div>
        <div class="page-news-switch">
                <button class="page-news-switch__back-button"></button>
                <H3 class="page-news-switch__page">Cтраница 1 из ....</H3>
                <button class="page-news-switch__next-button"></button>
        </div>
    </div>
</div>
{{ include('main/footer.html.twig') }}
</body>
</html>