<div class="grid-column">
    <div class="grey"></div>
    <div class="title-news"><h2>{{news.header}}</h2> {# вот так примерно работают массивы и даты, надо заменить конечно все это на цикл #}
        <p>{{news.text}}</p>
        <p>{{news.date|date("d.m.Y")}}</p>
    </div>
</div>