<<<<<<< HEAD
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
</head>
<body class="profile">
{{ include('main/header.html.twig') }}
<main class="profile">
    <div class="profile__wrapper wrapper">
    <div class="profile-player">
        <h1 class="profile-player__title"></h1>
        <div class="profile-player__img"></div>
    </div>
    <div class="profile-info">
        <div class="profile-info-navigation">
            <div  class="profile-info-button">
                <button class="profile-info-button__button button_size_b">ПЕРСОНАЛЬНОЕ</button>
                <div class="profile-info-button__shade shade"></div>
            </div>
            <div  class="profile-info-button">
                <button class="profile-info-button__button button_size_b">ГОРОД</button>
                <div class="profile-info-button__shade shade"></div>
            </div>
            <div  class="profile-info-button">
                <button class="profile-info-button__button button_size_b">ДЕРЖАВА</button>
                <div class="profile-info-button__shade shade"></div>
            </div>
            <div  class="profile-info-button">
                <button class="profile-info-button__button button_size_b">ФРАКЦИЯ</button>
                <div class="profile-info-button__shade shade"></div>
            </div>
    </div>
        <div class="profile-info-main">
            <div class="profile-main-section">
                <h4 class="profile-main-section__title"></h4>
                <p class="profile-main-section__text"></p>
            </div>
            <div class="profile-main-section">
                <h4 class="profile-main-section__title"></h4>
                <p class="profile-main-section__text"></p>
            </div>
            <div class="profile-main-section">
                <h4 class="profile-main-section__title"></h4>
                <p class="profile-main-section__text"></p>
            </div>
            <div class="profile-main-section">
                <h4 class="profile-main-section__title"></h4>
                <p class="profile-main-section__text"></p>
            </div>
            <div class="profile-main-section">
                <h4 class="profile-main-section__title"></h4>
                <p class="profile-main-section__text"></p>
            </div>
            <div class="profile-main-section">
                <h4 class="profile-main-section__title"></h4>
                <p class="profile-main-section__text"></p>
            </div>
            <div class="profile-main-section">
                <h4 class="profile-main-section__title"></h4>
                <p class="profile-main-section__text"></p>
            </div>
            <div class="profile-main-section">
                <h4 class="profile-main-section__title"></h4>
                <p class="profile-main-section__text"></p>
            </div>
        </div>>
    </div>
</div>
</main>
</body>
</html>
=======
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Webase.html.twiglcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
>>>>>>> origin/master
