<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a class="open_modal" href="#open">Открыть окно</a>
<div id="modal" class="modal bounceIn">
    <div id="close_modal">+</div>
    <div class="modal_txt">Текст в модальном окне</div>
</div>
</body>
</html>